html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: 'Ubuntu Mono', monospace;
  background-color: #505050;
}

#container {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 600px;
  height: 600px;
  background: black;
  border: solid;
  border-width: 2px;
  border-color: #CCCCCC;
}

footer {
  position: absolute;
  top: 95%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: white;
}

a {
  text-decoration: none;
}

a:link {
  color: #EEEEEE;
}

a:visited {
  color: #EEEEEE;
}

a:hover {
  color: gray;
}

a:active {
  color: black;
}

svg, legend {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%
}

svg text {
  fill: rgba(255, 255, 255, 0.7);
  /* #DDDDDD; */
}

.button {
  cursor: pointer;
}

svg rectangle.bg {
  fill: black;
}

g.ship {
  fill: rgba(255, 0, 0, 0.5);
  stroke: rgba(255, 255, 255, 0.7);
}

g.asteroid {
  fill: rgba(255, 255, 255, 0.4);
  /* stroke: white; */
}

svg ellipse.rocket {
  fill: rgba(255, 255, 255, 0.9);
}